<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录-注册</title>
	<link href="../../../BlogSystem01/web/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../../BlogSystem01/web/static/common/common.css" rel="stylesheet">
   <script src="../../../BlogSystem01/web/static/bootstrap/js/jquery-1.11.3.min.js"></script>
   <script src="../../../BlogSystem01/web/static/bootstrap/js/bootstrap.min.js"></script>
   <script src="../../../BlogSystem01/web/static/bootstrap/js/holder.min.js"></script>
</head>




</body>
<script src="../../../BlogSystem01/web/static/common/common.js"></script>
<script src="../../../BlogSystem01/web/static/plugin/xuanxka/jquery.tabso_yeso.js"></script>
</html>
<script type="text/javascript">

</script>